<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/common.css">
    <link rel="stylesheet" href="../styles/layout.css">
    <title>Online Store</title>
</head>
<body>

<main class="row wrap">

    <figure>
        <img src="../images/digitone.jpg">
        <figcaption>Digitone Synthesizer</figcaption>
        <figcaption class="price">$1099</figcaption>

        <div class="purchase-row">
            <button class="add-btn">Add To Cart</button>
            <select class="qty-select">
                <option value="1">Qty: 1</option>
                <option value="2">Qty: 2</option>
                <option value="3">Qty: 3</option>
                <option value="4">Qty: 4</option>
                <option value="5">Qty: 5</option>
            </select>
        </div>
    </figure>

    <figure>
        <img src="../images/liveiii.jpg">
        <figcaption>MPC Live III</figcaption>
        <figcaption class="price">$1899</figcaption>
        
        <div class="purchase-row">
            <button class="add-btn">Add To Cart</button>
            <select class="qty-select">
                <option value="1">Qty: 1</option>
                <option value="2">Qty: 2</option>
                <option value="3">Qty: 3</option>
                <option value="4">Qty: 4</option>
                <option value="5">Qty: 5</option>
            </select>
        </div>
    </figure>

    <figure>
        <img src="../images/protein.jpg">
        <figcaption>Protein Synthesizer</figcaption>
        <figcaption class="price">$399</figcaption>
        
        <div class="purchase-row">
            <button class="add-btn">Add To Cart</button>
            <select class="qty-select">
                <option value="1">Qty: 1</option>
                <option value="2">Qty: 2</option>
                <option value="3">Qty: 3</option>
                <option value="4">Qty: 4</option>
                <option value="5">Qty: 5</option>
            </select>
        </div>

    </figure>

    <figure>
        <img src="../images/sp404.jpg">
        <figcaption>SP-404 Sampler</figcaption>
        <figcaption class="price">$499</figcaption>
        
        <div class="purchase-row">
            <button class="add-btn">Add To Cart</button>
            <select class="qty-select">
                <option value="1">Qty: 1</option>
                <option value="2">Qty: 2</option>
                <option value="3">Qty: 3</option>
                <option value="4">Qty: 4</option>
                <option value="5">Qty: 5</option>
            </select>
        </div>

    </figure>

    <figure>
        <img src="../images/teo5.jpg">
        <figcaption>TEO-5 Synth</figcaption>
        <figcaption class="price">$1099</figcaption>
                
        <div class="purchase-row">
            <button class="add-btn">Add To Cart</button>
            <select class="qty-select">
                <option value="1">Qty: 1</option>
                <option value="2">Qty: 2</option>
                <option value="3">Qty: 3</option>
                <option value="4">Qty: 4</option>
                <option value="5">Qty: 5</option>
            </select>
        </div>
    </figure>

</main>


</body>
</html>
