<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/common.css">
    <link rel="stylesheet" href="../styles/layout.css">
    <title>Online Store</title>
</head>
<body>

    <main class="row wrap">

        <figure>
            <img src="../images/digitone.jpg">
        </figure>

        <figure>
            <img src="../images/liveiii.jpg">
        </figure>

        <figure>
            <img src="../images/protein.jpg">
        </figure>

        <figure>
            <img src="../images/sp404.jpg">
        </figure>

        <figure>
            <img src="../images/teo5.jpg">
        </figure>

    </main>

</body>
</html>
